<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/80181411b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Confirm Invitation</title>
</head>
<body>
    <header>
        <h1>Fitness-Hub</h1>
    </header>
    <main>
        <div class="container confirm">
            <i class="far fa-check-circle fa-10x"></i>
            <h1>your invitation has beend sent</h1>
            <p>Enjoy your session </p>
        </div>
        <div>
            <a href="../index.html" class="btn btn-success HomePageBtn" id="inviteBtn">HomePage</a>

        </div>

        
        
    </main>
    <footer>
        <p class="copyright">copyright 2020 ZouakAmira</p>
    </footer>

    
</body>
</html>